<section class="quizz__container flexer">
  <img class="quizz__container__image" src="assets/imgs/Logo.png" alt="Logo de Jojo's Bizarre Adventure" style="width: 300px; height: auto;">
  <h1 class="quizz__container__title">{{title}}</h1>

  <div class="quizz__container__questions" *ngIf=!finished>
    <h2>{{questionSelected.question}}</h2>
  </div>

  <div class="quizz__container__options flexer" *ngIf=!finished>
    <button
    *ngFor="let option of answers"
    (click)="viewerChoose(option.alias)"
    class="btn-option"
    routerLink=""
    >
    {{option.name}}</button>
  </div>

  <div class="quizz__container__results flexer" *ngIf=finished>
    <h1>O seu resultado é:</h1>
    <img [src]="result.img" [alt]="result.result + ' imagem'" style="width: 300px; height: auto; max-height: 300px; object-fit: cover; margin-bottom: 10px;">
    <p class="result-name">Você seria {{result.result}}!</p>
  </div>
